@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*GENERAL*/

:root{
    --redMain: #c90f19; /*var(--redMain)*/
    --redHover:#E50914; /*var(--redHover)*/
    --white: white; /*var(--white)*/
}

body{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, sans-serif;
    -webkit-font-smooting: antialiased;
    color: #999;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    padding: 0 0;
    margin: 0 0;
}

/*HEADER*/

header{
    background: url(https://alexandercelis.github.io/sprint2/img/background.jpg) no-repeat center center/cover;
    background-color: linear-gradient(180deg, rgba(0,0,0,0.8038793103448276) 27%, rgba(0,0,0,0.5711206896551724) 39%, rgba(0,0,0,0.4245689655172413) 43%, rgba(0,0,0,0) 66%);
    width: 100vw;
	height:100vh;
	position: relative;
}

/*NAVBAR*/

.navBarTop {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0.521551724137931) 50%, rgba(0,0,0,0) 100%);
    height: 25rem;
    z-index: 2;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 55px 10px 25px;
    width: 100vw;
}

.navBarTop .menu-bar .buttonNav{
    background-color: var(--redMain);
    border-radius: 3.5px;
    padding: 0.3rem 1rem;
    text-decoration: none !important;
}

.navBarTop .menu-bar .buttonNav:hover{
    background-color: var(--redHover);
}

.item {
    color: var(--white);
    background-color: transparent;
    font-size: 18px;
    display: inline-block;
    box-sizing: border-box;
    padding: 14px 20px;
    text-decoration: none;
}
  
.navBarTop .menu-bar .group .icon img {
    height: 50px;
    width: 150px;
}

.navBarTop .menu-bar .group a:hover{
    text-decoration-line: underline;
    color: var(--white);
}

#navBarIcon1{
    display: none;
}

#navBarIcon2{
    display: none;
}

#navBarIcon3{
    display: none;
}


/* SECTION 1 MAIN*/

h2{
    color: var(--white);
    font-size: 50px;
}

p{
    color: var(--white);
    margin: 0.5rem 0;
}

.containerMain {
	position: absolute;
    top: -10%;
    left: 0%;	
	z-index: 2;
	width: 100vw;
    height: 100vh;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
    line-height: 2rem;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 16%, rgba(0,0,0,1) 97%, rgba(0,0,0,1) 100%);
    z-index: 1 ;
    border-bottom: 10px solid rgba(51, 51, 51, 0.76);
}

.containerMain a{
    display: inline-block;
    background-color:  var(--redMain);
    width: 15%;
    height: 61px;
    text-decoration: none !important;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 0.8rem;
}

.containerMain a:hover{
    background-color: var(--redHover);
}

.containerMain input{
    background: var(--white);
    display: inline-block;
    width: 50%;
    height: 60px;
    padding: 7px 5px 5px 20px;  
    border: none;
}

.containerMain h2 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.containerMain p {
	color: var(--white);
	font-weight: 400;
	font-size: 1.42rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

.containerMain label{
    color: var(--white);
    margin-bottom: 15px;
    font-weight: bold;
}

/*SECTION 2*/

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    width: 100vw;
    margin: 0 0;
    padding: 5rem 5rem 4rem 3rem;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgba(51, 51, 51, 0.76);
}

.item2{
   display: flex;
   flex-wrap: wrap;
   color: var(--white);
   text-align: left;
}

.item2 h2{
    font-weight: bold;
	font-size: 3.19rem;
	line-height: 1.1;
	margin: 6rem 0 0 0;
    letter-spacing: 1px;
}

.item2 img{
    z-index: 15;
    width: 110%;
}

.item2 .video1 img{
width: 335px;
position: relative;
bottom: 17rem;
left: 3.7rem;
z-index: 14;
}

.video1{
    width: 0;
    height: 0;
}

.item2:nth-child(2){
    margin-top: 30px;
}

.item2:nth-child(1){
    display: flex;
    text-align: left;
    margin-bottom: 70px;
}

/*SECTION 3*/

.container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    width: 100vw;
    padding: 5rem 6rem 5rem 4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgba(51, 51, 51, 0.76);
}


.item3 img{
    width: 90%;
}

.item3 h2{
    font-weight: bold;
	font-size: 3.9rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.download{
    display: flex;
    width: 278px;
    height: 96px;
    border-radius: 10px;
    background: black;
    border: 1.4px solid #666;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -2rem;
    left: 10.5%;
}

.downloadItem{
   padding: 0 auto;
   margin:0 auto;
   text-align: left;
}

.downloadItem .descarga p{
    color: #1c49fd;
    font-weight:lighter;
}

/*SECTION 4*/

.container4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    width: 100vw;
    padding: 1.8rem 5rem 1rem 3rem;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgba(51, 51, 51, 0.76);
}

.item4 img{
    position: relative;
    width: 110%;
    z-index:30;
}

.item4 h2{
    font-weight: bold;
	font-size: 3.9rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.item4 .video2 img{
    width: 280px;
    position: relative;
    top: 12.5rem;
    left: 5.5rem;
    z-index:29;
}

.item4:nth-child(2){
position: relative;
bottom: 4rem;
}


/*SECTION 5*/  

.container5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    width: 100vw;
    padding: 5rem 2rem 5rem 3rem;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgba(51, 51, 51, 0.76);
}

.item5 img{
    width: 90%;
}

.item5 h2{
    font-weight: bold;
	font-size: 3.9rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

/*SECTION 6*/
#accordionExample{
    max-width: 700px;
    margin-left: 15%;
    margin-top: 9%;
}

#titleCollapse{
    margin-left: 8.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 40px;
}

.item6{
    margin-top: 1.2rem;
}

/*FOOTER SECTION 7*/

.container6{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    width: 100vw;
    padding: 5rem 6rem 5rem 4rem;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgba(51, 51, 51, 0.76);
}

.linkItem li{
    list-style: none;
    line-height: 2rem;
}

.linkItem li a{
    text-decoration: none;
    color: #666;
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: left;
}

.linkItem li a:hover{
    color: rgb(201, 201, 201);
}